*{
	padding: 0;
	margin: 0;
	font-family: "Roboto",sans-serif;
}
.container{
	width:980px;
	margin: 0 auto; 

}
header{
	width: 980px;
	height: 120px;
	background: #fff;
	text-align: center;
}
header img{
	padding-left: 30px;
}
nav{
	height: 35px;
	background: #272f54;
	margin-bottom: 5px;
}
nav .menu ul{
	list-style: none;
}
nav .menu ul li{
	float:left;
	line-height: 35px;
	padding: 0 15px;
}
nav .menu ul li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
nav .search{
	line-height: 35px;
	float: right;
	margin-right: 80px;
}
article h3{
	text-align: center;
	padding: 15px 0;
	color: #272f54;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
article .newsList .newsItem{
	width: 28%;
	padding: 17px;
	float: left;
	border: 2px solid #ccc;
	margin-right: 2%;
}
article .newsList .newsItem h4{
	font-size: 16px;
	color: #ad3f00;
}
article .newsList .newsItem img{
	margin: 10px auto;
}
footer {
	height: 40px;
	background: #272f54;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold; 

}
#fix{
	margin-right: 0;
}

